
body{
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("/Users/princessa.wilson/Desktop/Saved to Desktop/NataliaWilsonblogs/assets/images/spiration-light.png");
}




#top,
#bottom,
#left,
#right {
	background: black;
}

#left,
#right {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 15px;
}

#left {
	left: 0;
}

#right {
	right: 0;
}

#top,
#bottom {
	position: fixed;
	left: 0;
	right: 0;
	height: 15px;
}

#top {
	top: 0;
}

#bottom {
	bottom: 0;
}

h1 {
	text-align: center;
}

.brand-logo center {
	line-height: 79px !important;
}





p {
	text-indent: 50px;
	
}
@media screen and (max-width: 480px) {
	margin-left: 0;
}
.circle.responsive-img
 {
	widows: 300px;
	height: 300px;
	margin-left: 30%;
	margin-top: 20px;

}


.divider{
font-family: 'Lateef', cursive;
}
